body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f7;
    margin: 0;
    padding: 0;
}

.container {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 60px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 10px;
    border: 2px ;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #555;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
}

button {
    background: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

#result {
    font-size: 16px;
    color: #333;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

img#uploadedImage {
    width: 250px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map {
    height: 400px;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
